@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.card {
  width: 18rem;
  top: 70px;
  bottom: 50px;
}
.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

